@model IEnumerable<DemoMVC.Models.Movie>

@{
    ViewBag.Title = "Index";
    double pi = 3.14;
}

<h2>Index</h2>



@Html.Partial("_DataTable")


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}



